<!DOCTYPE html>
<html>
    <head>
        <title>通过点击事件变更class类</title>
        <meta charset="utf-8">
        <style type="text/css">
        .primary1{
            width:50px;
            height:50px;
            background-color: red;
        }
        .primary2{
            background-color: greenyellow;
        }
        </style>
    </head>
    <body>
        <div id="sss">{{msg}}</div>
        <script src="../vue.js"></script>
        <script>
            var a=new Vue({
                el:"#sss",
                data:function(){
                    return{
                        msg:"<h1>haha</h1>",
                        name:"<h2>sn</h2>",
                        showOrHide:false,
                        classShow:false,
                        menuList:[
                            {id:1,name:"sn"},
                            {id:2,name:"zzl"},
                            {id:3,name:"yas"}
                        ]
                    }
                    
                },
                template:
                `<div>
                    <div v-text="msg"></div>
                    <div v-html="name"></div>
                    <p v-if="classShow">你看到我了</p>
                    <p v-else>隐藏信息</p>
                    <p v-show="showOrHide">展示或隐藏</p>
                    <p class="primary1" :class="{primary2:classShow}"></p>
                    <button @click="changeClass">class颜色变更</button>
                    <ul>
                        <li v-for="(item,index) in menuList" :key="index">
                            {{item.id}}.{{item.name}}
                        </li>
                    </ul>
                </div>`,
                methods:{
                    changeClass(){
                        this.classShow=!this.classShow;
                    }
                }
            })
        </script>
    </body>
</html>